/* Home.css */

.home {
  background-color: #CDFF03;
  color: white;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .home{
    background-color: #24261F;
  }
}

.home-header{
  height: 100vh;
}

.hero-section {
  position: relative;
  margin:0;
  padding:0;
  height: 85vh;
}

.triangles {
  position: absolute;
  right: 60vh;
  bottom: .005vh;
  height:1356px;
}

.overlay {
  position: absolute;
  top: 62%;
  left: 35vw;
  transform: translate(-50%, -50%);
  text-align: left;
  /* background-color: black;*/
  z-index: 2; /* Ensure overlay is on top of the triangles */
}
.overlay h1{
  font-size: 96px;
  margin-bottom: 10px;
}
.overlay p{
  width:60%;
  margin-top: 10px;
  font-size: 36px;
  line-height:2em;
}

.overlay button {
  background-color: #CDFF03;
  border: none;
  color: #101010;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 16px;
  width: 260px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

@media screen and (max-width: 1200px) {
  .overlay {
    top: 40%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay h1 {
    font-size: 36px;
  }

  .overlay p {
    width: 100%;
    font-size: 16px;
    line-height: 1.3em;
  }

  .overlay button {
    font-size: 16px;
    padding: 10px;
    width: 150px;
  }
}

.overlay button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.overlay button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.overlay button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.overlay button:hover:after {
  opacity: 1;
  right: 10px;
}

.subbar {
  background-color: #101010;
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
  .subbar {
    flex-direction: column;
  }
}

.subbar-left{
  height:100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CDFF03;
}

.subbar-left h1{
  color: #101010;
  font-size: 52px;
  margin: auto;
}

.subbar-right{
  position: relative;
  flex: 2;
  height: auto;
  background-color: #101010;
  margin: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.subbar-right button{
  background-color: #101010;
  border: none;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 16px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 260px;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgb(0, 0, 0);
}

.subbar-right button:hover{
  background-color: #CDFF03;
  color: #101010;
}

.home-info{
  background-color: #24261F;
  height: 150vh;
  display: flexbox;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-flow: column;
}

.row{
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
    }
}


.info{
  background-color: #24261F;
  height: 75vh;
  padding: 2%;
}

.info h2{
  color: black;
  background-color: white;
  padding: 1%;
  display: inline-block;
}

.info h1{
  color: #CDFF03;
  margin: 0;
  font-size: 50px;
  margin: auto;

  display: inline-block;
}

.info p{
  color: white;
  font-size: 21px;
  line-height:1.5em;
}

.block-1{
  flex: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1476' height='1912.664' viewBox='0 0 1476 1912.664'%3E%3Cpath id='Path_7' data-name='Path 7' d='M1203,0l709.664,925.671L0,1476Z' transform='translate(-1210 -400) ' fill='%23161714'/%3E%3C/svg%3E%0A");
  order: 1;
}
 
.block-2{ 
  flex: 1;
  order: 2;
}   

.block-3{
  flex: 1;
  order: 3;
}

.block-4{
  flex: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1476' height='1912.664' viewBox='0 0 1476 1912.664'%3E%3Cpath id='Path_7' data-name='Path 7' d='M1203,0l709.664,925.671L0,1476Z' transform='translate(30 1912.664) rotate(-90)' fill='%23cdff03'/%3E%3C/svg%3E%0A");
  order: 4;
}

.square {
  height: 75vh;
  width: 40vw;
  background-color: #55555583;
}

@media screen and (max-width: 1200px) {
  .block-3{ 
    order: 4;
  } 
  .block-4{ 
    order: 3;
  } 

  .square {
    width: 95vw;
    background-color: #55555583;
  }

}
